@mixin button($btnColor, $btnHover) {
  background-color: $btnColor;
  color: $buttonTextColor;
  border-radius: $borderRadius;
  font-family: unquote(map-get($buttontype, font-family));
  font-weight: map-get($buttontype, regular);
  @include sassline(eta, $bodytype, 2, 2, all);
  display: inline-block;
  // @include baseline(theta, $bodytype, 3, 3, all);
  // @include baseline(theta, $buttontype, 2, 2, all);
  // margin-bottom: 0;
  // padding-top: 0;
  // padding: 0 0.7em 0.5em 0.7em;
  // @include fontsize(theta, all);
  line-height: 1rem;
  padding: 1em 3em;
  // margin-bottom: 8em;
  // margin-bottom: 8em;
  // padding-top: 2em;

  &:hover {
    background-color: $btnHover;
    color: $buttonTextColor;
  }
}

.button {
  @include button($buttonColor, $buttonHoverColor);
}

%button-success {
  @include button($successColor, darken($successColor, 10%));
}

%button-info {
  @include button($infoColor, darken($infoColor, 10%));
}

%button-tip {
  @include button($tipColor, darken($tipColor, 10%));
}

%button-warning {
  @include button($warningColor, darken($warningColor, 10%));
}

%button-fill {
  @extend .button;
  display: block;
  width: 100%;
  text-align: center;
}

@mixin button-hollow($btnColor) {
  @extend .button;
  background-color: $backgroundColor;
  color: $black;
  border: 2px solid $btnColor;

  &:hover {
    background-color: $btnColor;
  }
}
