body {
  background-color: $backgroundColor;
  color: $textColor;
  overflow-x: hidden;

  // Toggle to show baseline grid
  // background-image: linear-gradient(to bottom, cyan 0, rgba(255,255,255,0) 1px);
  // background-repeat: repeat-y;
  // background-size: 100% 1rem;
}

.section {
  padding: 2rem 0;

  @include breakpoint(break-1) {
    padding: 3rem 0;
  }

  @include breakpoint(break-2) {
    padding: 4rem 0;
  }
}

img {
  -ms-interpolation-mode: bicubic;
  height: auto;
  vertical-align: middle;
  width: 100%;

  @include breakpoint(break-1) {
    margin: 0 auto;
    max-width: 100%;
    width: auto;
  }
}

.button-align {
  @include baseline(zeta, $bodytype, 2, 2, all);
}
